MovieDB/MovieDB.xcodeproj/project.xcworkspace/xcuserdata/sergiykostrykin.xcuserdatad
MovieDB/MovieDB.xcodeproj/project.xcworkspace/xcshareddata
MovieDB/MovieDB.xcodeproj/project.xcworkspace
MovieDB/MovieDB.xcodeproj/xcuserdata/sergiykostrykin.xcuserdatad/xcschemes
MovieDB/Pods
MovieDB/MovieDB.xcworkspace
